name: BUILD / TEST / MEM CHECK / UB CHECK

on:
  push:
    branches: [ master ]

  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
      with:
        submodules: 'true'
        ssh-key: ${{ secrets.SUBMODULE_SSH_KEY }}

    - name: MAKE
      run:
        make test SANITIZE=1
